:root {
  --font-lato: "Lato", sans-serif;
  --font-lilita: "Lilita One", sans-serif;
  --color-primary: rgba(29, 6, 5, 0.9);
  --color-yellow: #f59a1b;
  --color-red: #f43127;
  --color-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

body {
  background-image: url(/assets/img/bannerMobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FAF3F2;
}

header{
    height: 750px;
}

/*--------------------------------------INICIO MENU MOBILE------------------------------------*/
.menu-navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  background-color: rgba(59, 32, 11, 0.05);
  padding: 16.94px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(59, 32, 11);
}

.btn-burguer {
  width: 30px;
  height: 30px;
  background-color: rgba(29, 6, 5, 0.15);
  border-radius: 3px;
  border: none;
}

/*--------------------------------------FIM MENU MOBILE------------------------------------*/
.slogan-center {
  margin-left: 23.85px;
  width: 90%;
  margin-top: 37px;
}
.slogan-center p {
  font-family: var(--font-lato);
  font-weight: 700;
  font-style: normal;
  color: var(--color-primary);
  font-size: 18px;
}

.slogan-center p > .text-king,
.slogan-center p > .text-burger {
  font-size: 53.35px;
  font-family: var(--font-lilita);
}

.slogan-center p > .text-burger {
  color: var(--color-yellow);
}

.slogan-center p > .text-para-quem {
  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 400;
}

.slogan-center p > .text-apetite {
  display: inline-block;
  padding: 1.5px;
  font-weight: 900;
  background-color: var(--color-yellow);
  border-radius: 5px;
  line-height: 24.08px;
}

.btn-buy-now {
  width: 148px;
  height: 43px;
  margin-top: 15px;
  background-color: var(--color-red);
  color: var(--color-white);

  border: none;
  border-radius: 5px;

  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 700;
}

.info {
  width: 90%;
  height: 322px;
  background-color: var(--color-white);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 35px 0px rgba(178, 155, 132, 0.3);
  margin: 0 auto;
}

.info-item{
    display: flex;
    height: 33%;
    gap: 18px;
    align-items: center;
    padding-left: 36px;
}

.line-x{
width: 80%;
margin: 0 39px;
border: solid 1px rgba(73, 46, 21, 0.15);
}

.info-item div:first-child{
    background-color: #FAE2CB;
    padding: 12px;
    border-radius: 50%;
}

.info-text > h2{
    font-family: var(--font-lilita);
    font-size: 20px;
    font-weight: 400;
    color: var(--color-primary);
}

.info-text p{
    font-family: var(--font-lato);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: rgba(29, 6, 5, 0.69);
}

.promotion{
  display: flex;
  flex-direction: column;
  margin: 64px 25px 37px 25px;
  gap: 8px;

}

.promotion > h2{
  font-family: var(--font-lilita);
  font-size: 25px;
  font-weight: 400;
  color: var(--color-primary);
}

.promotion > p{
  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 400;
  color: rgba(29, 6, 5, 0.69);
  margin-bottom: 16px;
}
.promotion-img{
  position: relative;;
}

#today{
  color: var(--color-white);
}

.promotion-date{
  position: absolute;
  right: 20px;
  bottom: 18px;

  font-family: var(--font-lato);
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.9);
}

.promotion-date > span{
  font-family: var(--font-lilita);
  font-size: 1.25rem;
  color: var(--color-white);
}

.promotion-img .promotion-title{
  position: absolute;
  top: 14px;
  left: 18px;

  font-family: var(--font-lilita);
  font-size: 18px;
  color: var(--color-primary);
}

.promotion-img .promotion-title > span{
  font-family: var(--font-lato);
  font-size: 16px;
}


.promotion div > img{
  width: 100%;

}

.opening-hours{
  display: flex;
  align-items: center;
  margin-top: 38px;
  padding: 19px 13px;
  background-color: var(--color-red);
  border-radius: 10px;
  border: none;

}


.opening-hours div:first-child{
  background-color: rgba(29, 6, 5, 0.2);
  padding: 12px;
  border-radius: 50%;
}

.opening-hours div:first-child > img{
  width: 40px;
  height: 40px;
}

.line-y{
  height: 68px;
  border: solid 1px rgba(29, 6, 5, 0.4);
  margin: 0 14px;
}

.info-hours h2{
  font-family: var(--font-lilita);
  color: rgba(29, 6, 5, 0.69);
  font-size: 18px;
  font-weight: 400;
}

.info-hours p{
  font-family: var(--font-lato);
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
}

.hashtag-instagram{
  margin-top: 64px;
}

.hashtag-instagram p{
  font-family: var(--font-lato);
  font-size: 18px;
  color: rgba(29, 6, 5, 0.69);
}

.hashtag-instagram h2{
  font-family: var(--font-lilita);
  font-size: 41px;
  color: var(--color-red);
  margin: 0 auto;
  text-align: center;
}

.menu{
  background-image: url(../img/banner-menu-mobile.png);
  padding: 39px 24px;
}

.menu > h2{
  font-family: var(--font-lilita);
  font-size: 25px;
  color: var(--color-primary);
}

.menu > h2 > span{
  background-color: #f59a1b;
  border-radius: 5px;
  padding: 2px
}

.menu > p{
  font-size: 14px;
  font-family: var(--font-lato);
  color: rgba(29, 6, 5, 0.69);
  margin-top: 7px;
}

.btn-menu{
  margin-top: 15px;
  height: 45px;
  padding: 11px 20px;
  background-color: var(--color-red);
  border: none;
  border-radius: 5px;

  font-family: var(--font-lato);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);

}

#product-menu{
  padding: 55px 24px;
  background-color: #3B200B;
}

#product-menu > h1{
  font-size: 25px;
  font-family: var(--font-lilita);
  font-weight: 400;
  color: var(--color-yellow);

  margin-bottom: 24px;
}

#list-product > li > div{
  display: flex;
  justify-content: space-between;
  white-space: nowrap
}

#list-product > li h2{
font-size: 20px;
font-family: var(--font-lilita);
font-weight: 400;
color: #FAE4D0;

margin-bottom: 4px;
}

#list-product > li > p {
  font-size: 14px;
  font-family: var(--font-lato);
  color: rgba(255, 255, 255, 0.9);
  line-height: 19px;

  margin-bottom: 16px;
}

.personalizedService{
  margin: 48px 24px

}

.personalizedService > div img{
  width: 100%;
  margin-bottom: 16px;
}

.service-details{
  margin-bottom: 64px;
}

.service-details > h2{
  font-family: var(--font-lilita);
  font-size: 25px;
  font-weight: 400;

}

.service-details > h2 > span{
  background-color: var(--color-yellow);
  padding: 2px 8px;
  border-radius: 5px;
}

.service-details > p {
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 400;
  color: rgba(29, 6, 5, 0.69);
  
  margin: 8px 0;
}

.width-line-x{
  width: 100%;
  margin: 0 auto;

  border: 1px solid rgba(29, 6, 5, 0.15);
}

.customer-feedback-carrousel{
  margin-left: 24px;
}

.customer-feedback-carrousel > h2 {
  font-size: 25px;
  font-family: var(--font-lilita);
  font-weight: 400;

  margin-bottom: 8px;
}

.customer-feedback-carrousel > p {
  font-size: 16px;
  font-family: var(--font-lato);
  
  margin-bottom: 16px;
}

.carousel{
  display: flex;
  width: 1000px;
  gap: 10px;
 
}

.carousel-item {
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 17px;
  border-radius: 10px;
  box-shadow: 0px 4px 25px 0px rgba(60, 35, 13, 0.1);
}

.carousel-item > p{
  font-size: 16px;
  font-family: var(--font-lato);
  font-weight: 400;
  margin-bottom: 18px;
  color: #635352;
}

.carousel-item > div{
  display: flex;
  gap: 8px;
}

.carousel-item > div:nth-child(2) h3 {
  font-size: 18px;
  font-family: var(--font-lilita);
  color: rgba(29, 6, 5, 0.9);
  font-weight: 400;
  text-transform: uppercase;
}

.carousel-item > div:nth-child(2) p {
  font-size: 14px;
  font-family: var(--font-lato);
  color: rgba(29, 6, 5, 0.9);
  font-weight: 400;
}

.carousel-photo-perfil > img{
  border-radius: 100%;
  width: 48px;
  height: 48px;
}


